:root {
  --main-font-family: 'Cantarell';
  --main-font-size: 11pt;
  
  --detail-font-family: var(--main-font-family);
  --detail-font-size: var(--main-font-size);
  
  --tree-font-family: var(--main-font-family);
  --tree-font-size: var(--main-font-size);
  
  --monospace-font-family: "Source Code Pro");
  --monospace-font-size: 10px;
  
  --left-pane-background-color: #fafafa;
  --left-pane-text-color: #323232;
 
  --launcher-pane-background-color: #ebebeb; 
  --header-height: 47px;
  
  --border-color: #dbdbdb;
  
  --active-tab-background-color: #d9d9d9;
  --active-tab-hover-background-color: #d2d2d2;
  --active-tab-text-color: #2f2f2f;
  --inactive-tab-background-color: transparent;
  --inactive-tab-hover-background-color: #dedede;
  --inactive-tab-text-color: var(--active-tab-text-color);
  
  --gnome-close-button-inactive-background-color: #d8d8d8;
  --gnome-close-button-hover-background-color: #cfcfcf;
  --gnome-close-button-pressed-background-color: #b3b3b3;
  --gnome-close-button-size: 24px;
  --gnome-close-button-hmargin: 11px;
}

/*
 * Move launcher bar on top
 */
#root-widget {
  display: grid !important;
  grid-template-areas:
    "tree gutter launcher"
    "tree gutter content";
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
}

#launcher-pane {
  width: 100% !important;
  height: var(--header-height);
  flex-direction: row !important;
  grid-area: launcher;
  border-bottom: 1px solid var(--border-color);
}

#launcher-container {
  flex-direction: row !important;
}

#root-widget > .gutter.gutter-horizontal {
  display: none !important;
  grid-area: gutter;
}

#left-pane {
  grid-area: tree;
  width: 240px !important;
  border-right: 1px solid var(--border-color);
}

#rest-pane {
  grid-area: content;
  width: 100% !important;
}

/*
 * Header style (incl. quick search of the left side bar)
*/
.quick-search,
#launcher-pane {
  -webkit-app-region: drag;
}

.quick-search input,
#launcher-pane button,
.title-bar-buttons {
  -webkit-app-region: no-drag;
}

.quick-search {
  height: var(--header-height) !important;
  background: var(--launcher-pane-background-color);
  border-bottom: 1px solid var(--border-color);
}

#launcher-container {
  align-items: center;
}

#launcher-pane {
  contain: unset !important;
  align-items: center;
}

#launcher-pane .launcher-button.bx-chevrons-left {
  order: -1000;
}

#launcher-pane .launcher-button,
#launcher-pane .global-menu-button {
  font-size: 19px !important;
  background-color: #dedede !important;
  border-radius: 4px;
  width: 34px;
  height: 34px !important;
  padding: 0 !important;
  margin-left: 6px;
}

#launcher-pane .dropdown {
  width: 63px;
  height: 34px !important;
}

#launcher-pane .dropdown .launcher-button {
  width: 57px;
}

#launcher-pane .spacer {
  width: 18px;
  flex: unset !important;
}

#launcher-pane .sync-status-widget {
  position: relative;
}

#launcher-pane .sync-status-widget .sync-status-icon {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#launcher-pane .global-menu {
  order: 1000;
}

#launcher-pane .global-menu .global-menu-button {
  background-size: 16px;
}

/*
 * Tab bar
 */
#rest-pane > .component:first-of-type {
  height: 45px !important;
  border-bottom: 1px solid var(--border-color);
}

.component.tab-row-widget {
  --main-background-color: var(--launcher-pane-background-color);
}

.component.tab-row-widget .note-tab-wrapper {
  top: 5px !important;
  bottom: 5px !important;
}

/*
 * Title bar buttons
 */
#launcher-pane {
  padding-right: calc(var(--gnome-close-button-size) + var(--gnome-close-button-hmargin) * 2) !important;
}

.title-bar-buttons {
  position: fixed;
  top: 0;
  right: var(--gnome-close-button-hmargin);
  top: calc((var(--header-height) - var(--gnome-close-button-size)) / 2);
}

.title-bar-buttons > div {
  width: unset !important;
  height: unset !important;
}

.title-bar-buttons .minimize-btn,
.title-bar-buttons .maximize-btn {
  display: none !important;
}

.title-bar-buttons .close-btn > button {
  width: var(--gnome-close-button-size);
  height: var(--gnome-close-button-size);
  background-color: var(--gnome-close-button-inactive-background-color) !important;
  border-radius: 50%;
}

.title-bar-buttons .close-btn > button:hover {
  background-color: var(--gnome-close-button-hover-background-color) !important;
}

.title-bar-buttons .close-btn > button:active {
  background-color: var(--gnome-close-button-pressed-background-color) !important;
}