:root {
  --main-font-family: 'Cantarell';
  --main-font-size: 11pt;
  
  --detail-font-family: var(--main-font-family);
  --detail-font-size: var(--main-font-size);
  
  --tree-font-family: var(--main-font-family);
  --tree-font-size: 10pt;
  
  --monospace-font-family: "Source Code Pro");
  --monospace-font-size: 10px;
  
  --left-pane-background-color: #fafafa;
  --left-pane-text-color: #323232;
 
  --launcher-pane-background-color: #ebebeb; 
  --header-height: 47px;
  
  --border-color: #dbdbdb;
  
  --active-tab-background-color: #d9d9d9;
  --active-tab-hover-background-color: #d2d2d2;
  --active-tab-text-color: #2f2f2f;
  --inactive-tab-background-color: transparent;
  --inactive-tab-hover-background-color: #dedede;
  --inactive-tab-text-color: var(--active-tab-text-color);
  
  --left-pane-text-color: #323232;
  --active-item-text-color: var(--left-pane-text-color);
  --active-item-background-color: #e6e6e6;
  
  --toolbar-button-inactive-background-color: transparent;
  --toolbar-button-active-background-color: #cdcdcd;
  --toolbar-button-hover-background-color: #dedede;
  
  --gnome-close-button-inactive-background-color: #d8d8d8;
  --gnome-close-button-hover-background-color: #cfcfcf;
  --gnome-close-button-pressed-background-color: #b3b3b3;
  --gnome-close-button-size: 24px;
  --gnome-close-button-hmargin: 11px;
  
  --scrollbar-track-inactive-background: transparent;
  --scrollbar-track-active-background: #e0e0e0;
  --scrollbar-thumb-inactive-background: #d2d2d2;
  --scrollbar-thumb-active-background: #747474;
  
  --ribbon-height: 37px;
  --ribbon-popup-background-color: #fff;
  --ribbon-popup-border-color: #d8d8d8;
  --ribbon-popup-shadow-color: rgba(0, 0, 0, 0.25);
}

/*
 * Scroll bar
 *
*/
::-webkit-scrollbar {
  background: var(--scrollbar-track-inactive-background);
  width: 10px !important;
}

::-webkit-scrollbar:hover {
  background: var(--scrollbar-track-active-background);
}

::-webkit-scrollbar-thumb:not(:hover) {
  background: transparent !important;
  border: 0 !important;
  border-right: 3px solid var(--scrollbar-thumb-inactive-background) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-active-background) !important;
}

/*
 * Move launcher bar on top
 */
#root-widget {
  display: grid !important;
  grid-template-areas:
    "tree gutter launcher"
    "tree gutter content";
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
}

#launcher-pane {
  width: 100% !important;
  height: var(--header-height);
  flex-direction: row !important;
  grid-area: launcher;
  border-bottom: 1px solid var(--border-color);
}

#launcher-container {
  flex-direction: row !important;
}

#root-widget > .gutter.gutter-horizontal {
  display: none !important;
  grid-area: gutter;
}

#left-pane {
  grid-area: tree;
  width: 301px !important;
  border-right: 1px solid var(--border-color);
}

#rest-pane {
  grid-area: content;
  width: 100% !important;
}

/*
 * Tree style
 */
ul.fancytree-container li {
  contain: layout !important;
}

.fancytree-node {
  height: 30px;
  border: 0 !important;
}

.fancytree-node.fancytree-active {
  position: relative;
  overflow: visible;
  background: transparent !important;
}

.fancytree-node.fancytree-active:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  background: var(--active-item-background-color);
  z-index: -1;
}

.fancytree-expander::before {
  font-size: 1em !important;
  font-weight: bold !important;
  color: var(--left-pane-text-color);
}

/*
 *Tree actions
 */
.tree-wrapper {
  display: flex;
  flex-direction: column;
}

.tree-actions {
  position: unset !important;
  background: unset !important;
  border-top: 1px solid var(--border-color);
  justify-content: space-evenly !important;
}

.tree-actions button.tree-floating-button {
  font-size: 16px;
}

/*
 * Header style (incl. quick search of the left side bar)
*/
.quick-search,
#launcher-pane {
  -webkit-app-region: drag;
}

.quick-search input,
#launcher-pane button,
.title-bar-buttons {
  -webkit-app-region: no-drag;
}

.quick-search {
  height: var(--header-height) !important;
  background: var(--launcher-pane-background-color);
  border-bottom: 1px solid var(--border-color);
}

#launcher-container {
  align-items: center;
}

#launcher-pane {
  contain: unset !important;
  align-items: center;
}

#launcher-pane .launcher-button.bx-chevrons-left,
#launcher-pane .launcher-button.bx-chevrons-right {
  order: -1000;
}

#launcher-pane .launcher-button,
#launcher-pane .global-menu-button {
  font-size: 19px !important;
  background-color: var(--toolbar-button-inactive-background-color) !important;
  border-radius: 4px;
  width: 34px;
  height: 34px !important;
  padding: 0 !important;
  margin-left: 6px;
}

#launcher-pane .launcher-button:hover,
#launcher-pane .global-menu-button:hover {
  background-color: var(--toolbar-button-hover-background-color) !important;
}

#launcher-pane .launcher-button:active,
#launcher-pane .global-menu-button:hover {
  background-color: var(--toolbar-button-active-background-color) !important;
}

#launcher-pane .dropdown {
  width: 63px;
  height: 34px !important;
}

#launcher-pane .dropdown .launcher-button {
  width: 57px;
}

#launcher-pane .spacer {
  width: 18px;
  flex: unset !important;
}

#launcher-pane .sync-status-widget {
  position: relative;
}

#launcher-pane .sync-status-widget .sync-status-icon {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#launcher-pane .global-menu {
  order: 1000;
}

#launcher-pane .global-menu .global-menu-button {
  background-size: 16px;
}

/*
 * Tab bar
 */
#rest-pane > .component:first-of-type {
  height: 45px !important;
  border-bottom: 1px solid var(--border-color);
}

.component.tab-row-widget {
  --main-background-color: var(--launcher-pane-background-color);
}

.component.tab-row-widget .note-tab-wrapper {
  top: 5px !important;
  bottom: 5px !important;
}

/*
 * Title bar buttons
 */
#launcher-pane {
  padding-right: calc(var(--gnome-close-button-size) + var(--gnome-close-button-hmargin) * 2) !important;
}

.title-bar-buttons {
  position: fixed;
  top: 0;
  right: var(--gnome-close-button-hmargin);
  top: calc((var(--header-height) - var(--gnome-close-button-size)) / 2);
}

.title-bar-buttons > div {
  width: unset !important;
  height: unset !important;
}

.title-bar-buttons .minimize-btn,
.title-bar-buttons .maximize-btn {
  display: none !important;
}

.title-bar-buttons .close-btn > button {
  width: var(--gnome-close-button-size);
  height: var(--gnome-close-button-size);
  background-color: var(--gnome-close-button-inactive-background-color) !important;
  border-radius: 50%;
}

.title-bar-buttons .close-btn > button:hover {
  background-color: var(--gnome-close-button-hover-background-color) !important;
}

.title-bar-buttons .close-btn > button:active {
  background-color: var(--gnome-close-button-pressed-background-color) !important;
}

/*
 * Ribbon
 */
.component.note-split {
  position: relative;
  margin-bottom: var(--ribbon-height);
}

.component.note-split > .component.ribbon-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--ribbon-height) * -1);
  height: var(--ribbon-height);
  background: var(--left-pane-background);
  border-top: 1px solid var(--border-color);
  margin: 0 !important;
}

.ribbon-button-container {
  border: 0 !important;
}

.ribbon-tab-title {
  padding: 0.25em 1em !important;
  border: 0 !important;
}

.ribbon-tab-title .bx {
  font-size: 16px !important;
}

.ribbon-tab-spacer {
  display: none;
}

.split-note-container-widget {
  position: relative;
}

.split-note-container-widget::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--ribbon-height);
  border-top: 1px solid var(--border-color);
}

.ribbon-body-container {
  position: relative;
  bottom: var(--ribbon-height);
  background: var(--ribbon-popup-background-color);
  border: 1px solid var(--ribbon-popup-border-color);
  border-radius: 10px;
  z-index: 10000;
  max-width: 400px;
  box-shadow: 0 0 6px var(--ribbon-popup-shadow-color);
  left: 50%;
  transform: translate(-50%, -100%);
}

/*
 * Note split look
 */
.note-split:not(.hidden-ext) + .note-split:not(.hidden-ext) {
    border-left: 1px solid var(--border-color);
}
