.codemirror-rules() {
    // Default color
    .cm-s-default {
        color: var(--code-color-normal);
    }

    // Selectors taken from codemirror.css.
    .cm-s-default .cm-header,
    .cm-s-default .cm-quote,
    .cm-negative,
    .cm-positive,
    .cm-s-default .cm-keyword,
    .cm-s-default .cm-atom,
    .cm-s-default .cm-number,
    .cm-s-default .cm-def,
    .cm-s-default .cm-variable-2,
    .cm-s-default .cm-variable-3,
    .cm-s-default .cm-type,
    .cm-s-default .cm-comment,
    .cm-s-default .cm-string,
    .cm-s-default .cm-string-2,
    .cm-s-default .cm-meta,
    .cm-s-default .cm-qualifier,
    .cm-s-default .cm-builtin
    .cm-s-default .cm-bracket 
    .cm-s-default .cm-tag 
    .cm-s-default .cm-attribute,
    .cm-s-default .cm-hr,
    .cm-s-default .cm-link,
    .cm-s-default .cm-error,
    .cm-invalidchar {
        color: var(--code-color-normal);
    }

    .cm-header,
    .cm-strong {
        font-weight: bold;
    }

    .cm-em {
        font-style: italic;
    }

    .cm-link {
        text-decoration: underline;
    }

    .cm-strikethrough {
        text-decoration: line-through;
    }

    .cm-s-default .cm-variable,
    .cm-s-default .cm-punctuation,
    .cm-s-default .cm-property,
    .cm-s-default .cm-operator {}
    
    .CodeMirror-selected {
        background: var(--code-selection-active-background);

        @border-radius: 8px;

        &:nth-of-type(3) {  // middle
            border-top-left-radius: @border-radius;
        }

        &:nth-of-type(2) { // bottom
            border-bottom-left-radius: @border-radius;
        }
    }

    .cm-overlay.cm-matchhighlight {
        color: var(--code-selection-match-foreground);
        background-color: var(--code-selection-match-background);
    }
}
