.codemirror-rules() {
    // Default color
    .cm-s-default {
        color: var(--code-color-normal);
    }

    // Selectors taken from codemirror.css.
    .cm-header,
    .cm-quote,
    .cm-negative,
    .cm-positive,
    .cm-number,
    .cm-def,
    .cm-builtin,
    .cm-bracket,
    .cm-hr,
    .cm-link,
    .cm-error,
    .cm-invalidchar {
        color: var(--code-color-normal);
    }

    .cm-comment {
        color: var(--code-color-comment);
    }
    
    .cm-type,    
    .cm-tag {
        color: var(--code-color-type);
    }

    .cm-attribute,
    .cm-property {
        color: var(--code-color-meta);
    }

    .cm-variable-2,
    .cm-qualifier {
        color: var(--code-color-attribute);
    }
    
    .cm-string,
    .cm-string-2
    .cm-variable-3,
    .cm-atom {
        color: var(--code-color-literal);
    }

    .cm-callee {
        color: var(--code-color-builtin);
    }

    .cm-meta,
    .cm-keyword {
        color: var(--code-color-meta-alt-alt);
    }

    .cm-header,
    .cm-strong,
    .cm-variable-3,
    .cm-tag,
    .cm-keyword,
    .cm-type {
        font-weight: bold;
    }

    .cm-em {
        font-style: italic;
    }

    .cm-link {
        text-decoration: underline;
    }

    .cm-strikethrough {
        text-decoration: line-through;
    }

    .cm-s-default .cm-variable,
    .cm-s-default .cm-punctuation,
    .cm-s-default .cm-operator {}
    
    // Language-specific.
    .component.note-split {
        &.mime-text-x-csrc { // C
            .cm-meta {
                color: var(--code-color-meta);
                font-weight: bold;
            }

            .cm-string {
                color: var(--code-color-type);
            }
        }

        &.mime-text-xml {
            .cm-meta {
                color: var(--code-color-meta-alt);
            }

            .cm-tag {
                font-weight: unset;
            }
        }      
        
        &.mime-text-css {
            .cm-variable-3 {
                color: var(--code-color-literal);
            }
        }
    }

    .CodeMirror-selected {
        background: var(--code-selection-active-background);

        @border-radius: 8px;

        &:nth-of-type(3) {  // middle
            border-top-left-radius: @border-radius;
        }

        &:nth-of-type(2) { // bottom
            border-bottom-left-radius: @border-radius;
        }
    }

    // Transparent selection (selector is flimsy).
    .CodeMirror-lines > div > div:nth-of-type(3) {
        z-index: 1000;
        opacity: 0.6;
    }

    .cm-overlay.cm-matchhighlight {
        color: var(--code-selection-match-foreground);
        background-color: var(--code-selection-match-background);        
    }
}
