.ck-content .table table {
    border-color: var(--main-border-color);

    td,
    th {
        border-color: var(--main-border-color);
    }
}

.note-detail-editable-text {
    *::selection {
        background-color: var(--code-selection-active-background);
    }

    a {
        text-decoration: underline !important;

        &:after {
            content: unset !important;
        }
    }

    padding: 10px !important;
}

.ck-content pre,
.note-detail-doc-content pre {
    background: var(--content-background-color);
    border: 1px solid var(--card-border-color) !important;
    box-shadow: var(--card-box-shadow);
    border-radius: 10px;
}

.ck.ck-editor__editable pre[data-language]:after {
    border-radius: 0 0 6px 6px;
    padding: 0.25em 0.75em;
    background: var(--content-background-color);
    color: var(--left-pane-icon-color);
    border: 1px solid var(--card-border-color);
    min-width: 40px;
    text-align: center;
}

pre:not(.CodeMirror-line) {
    font-size: var(--monospace-font-size) !important;
    line-height: 1.4; 
}

.ck-content {
    code {
        background: var(--content-background-color) !important;
        border: 1px solid var(--card-border-color);
        box-shadow: var(--card-box-shadow);
        border-radius: 6px;
    }

    pre code {
        background: unset !important;
        border: unset;
        box-shadow: unset;
        border-radius: unset;
    }

    hr {
        height: 1px;
        background-color: var(--main-border-color);
    }

    blockquote {
        background: var(--card-background-color);
        border: 1px solid var(--card-border-color) !important;
        box-shadow: var(--card-box-shadow);
        border-radius: 10px;
        padding: 1em 2.5em;
        position: relative;
        font-style: unset !important;
 
        p:last-of-type {
            margin-bottom: 0 !important;
        }

        &:before,
        &:after {
            position: absolute;
            top: 0;
            font-size: 48px;
            opacity: 0.1;
        }

        &:before {
            content: "“";
            left: 0.2em;
        }

        &:after {
            content: "”";
            right: 0.35em;            
        }
    }
}