.ck-content .table table {
    border-color: var(--main-border-color);

    td,
    th {
        border-color: var(--main-border-color);
    }
}

.note-detail-editable-text a {
    text-decoration: underline !important;

    &:after {
        content: unset !important;
    }
}