#root-widget {
    display: grid !important;
    grid-template-areas:
        "launcher launcher launcher"
        "tree gutter content";
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr;
}

#launcher-pane {
    width: 100% !important;
    height: @header-height;
    flex-direction: row !important;
    grid-area: launcher;
    border-bottom: 1px solid var(--border-color);
}

#launcher-container {
    flex-direction: row !important;
    justify-content: center;
}

#root-widget>.gutter.gutter-horizontal {
    display: none !important;
    grid-area: gutter;
}

#left-pane {
    grid-area: tree;
    width: 301px !important;
    border-right: 1px solid var(--border-color);
}

#center-pane {
    .note-split {
        overflow: scroll !important;

        .title-row {
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, var(--content-background-color) 95%, transparent 100%);
            z-index: 10000;
        }

        .scrolling-container {
            height: auto !important;
            overflow: unset !important;  

            .note-detail-editable-text {
                height: unset !important;
            }
        }
    }
}

#rest-pane {
    grid-area: content;
    width: 100% !important;
}