#root-widget {
    flex-wrap: wrap;
}

#launcher-pane {
    width: 100% !important;
    height: @header-height;
    flex-direction: row !important;
    border-bottom: 1px solid var(--main-border-color);
}

#launcher-container {
    flex-direction: row !important;
    justify-content: center;
}

#left-pane {
    height: unset !important;
}

#left-pane, #rest-pane {
    height: calc(100% - @header-height) !important;
}

#rest-pane {
    width: unset !important;
}