.global-menu .dropdown-menu {
    display: block;
    position: absolute;
    transform: translate(-221px, 0px) !important;
    top: @header-height !important;
    left: 0px;
    box-shadow: var(--menu-box-shadow);
    --hover-item-text-color: var(--menu-text-color);

    // Hide icons
    span.bx { display: none !important; }

    // Submenus
    .dropdown-menu {
        left: calc(-27% - 5px) !important;
    }

    .dropdown-item {
        border: unset !important;
        padding: 5px 12px !important;
        margin: 0 6px !important;
        width: unset !important;
        border-radius: 5px;
    }

}