.global-menu .dropdown-menu {
    //display: block;
    position: absolute;
    transform: translate(-221px, 0px) !important;
    top: @header-height !important;
    left: 0px;
    box-shadow: var(--menu-box-shadow);

    .dropdown-menu {
        left: calc(-25% - 3px) !important;
    }
}