.options-section {
    border-radius: 12px;
    border: 1px solid var(--card-border-color) !important;
    box-shadow: var(--card-box-shadow);
    background: var(--card-background-color);
    padding: 17px;
    margin-bottom: 26px !important;
}