:root {
    --code-color1: green;
    --code-color2: #00f;
    --code-color3: #a31515;
    --code-color4: #2b91af;
    --code-color5: grey
    --code-color6: red;
    --code-color7: #00b0e8;
}

.highlight-rules() {
    pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em
    }
    
    code.hljs {
        padding: 3px 5px
    }
    
    .hljs {
        background: #fff;
        color: #000
    }
    
    .hljs-comment,
    .hljs-quote,
    .hljs-variable {
        color: var(--code-color1);
    }
    
    .hljs-built_in,
    .hljs-keyword,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-tag {
        color: var(--code-color2);
    }
    
    .hljs-addition,
    .hljs-attribute,
    .hljs-literal,
    .hljs-section,
    .hljs-string,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-title,
    .hljs-type {
        color: var(--code-color3);
    }
    
    .hljs-deletion,
    .hljs-meta,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
        color: var(--code-color4);
    }
    
    .hljs-doctag {
        color: var(--code-color5);
    }
    
    .hljs-attr {
        color: var(--code-color6);
    }
    
    .hljs-bullet,
    .hljs-link,
    .hljs-symbol {
        color: var(--code-color7);
    }
    
    .hljs-emphasis {
        font-style: italic;
    }
    
    .hljs-strong {
        font-weight: 700;
    }
}

.highlight-rules() !important;